@font-face {
    font-family: LilyUPC;
    src: url(upcll.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Lalezar|Lato');

*{
	//font-family:LilyUPC;
    font-family: 'Lato', sans-serif;
    color:white;
}

/*/Início/*/ 
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    letter-spacing: -3px;
    font-family: 'Lazelar', sans-serif;
    font-weight: 400;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo1 {
	top: 100px;
    color: #ffffff;
	text-align: center;  
    padding-bottom: 4px;
	font-size: 2.2em;
    text-transform: uppercase;
}

.titulo2 {
	color: #ffffff;
	text-align: center;
}

.titulo3 {
	color: #ffffff;
	text-align: center;
}

.bio{
	color: #ffffff;
	text-align: justify;
}

nav{
    padding-top: 8px;
    text-align: center;
}

nav > ul{
    list-style-type: none;
    display: inline;
    padding: 0;
}

nav > ul > li{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

nav > ul > li > a{
    text-decoration: none;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: -1px;
}

.divider{
	width: 100%;
	height: auto;
	background-color: #013f3d;
	
}

header{
    background:linear-gradient(rgba(0,0,0,0.95), rgba(0,0,0,0.8), rgba(0,0,0,0.95));
    display:block;
    padding: 45px;
}

html{
    min-height: 100%;
}

body{
    min-height:100%;
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.95),
                      rgba(0,0,0,0.95)),url(../image/pattern.png);
    background-position: 0px 166px;
    background-repeat: no-repeat,repeat;
}

.footer1{
    position: relative;
    left: 33%;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}
/*/Portifolio/*/

.myImg {
    position: relative;
    left: 10%;
    //border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    height: auto;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



.footer2{
    position: relative;
    left: 33%;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

/*/Contato/*/

.contatoblock{
	margin: 0;
    margin: 0;
    position: relative;
    margin-top: 40px;
    height: 250px;
	width: 100%;
	background-color: #013f3d;
}

.circlebase{
    border-radius: 50%;
} 


.photocircle{
    position: relative;
    top: -100px;
    left: 72.5%;
    width: 357px;
    height: 442px;
    margin-right: auto;
}

.biografia{
    position: relative;
    top: -250px;
    left: 60px;
    text-align: center;
    letter-spacing: 0px;
    line-height: 30px;
    font-family: 'Lazelar', sans-serif;
    
}

.profissao1{
    position: relative;
    top: 8px; 
    left: 260px;
}

.dividerborder{
    position: relative;
    border: 3px;
    width: 800px;
    height: 100px;
}

.line{
    position: relative;
    top: -140px;
    left: 63px;
    background-color: #ffffff;
    height: 1px;
    width: 800px;
}

.imgfb{
    position: relative;
    top: -32px;
    left:134%;
    width: 50px;
    height: 50px;    
}

.imgin{
    position: relative;
    top: -20px;
    left: 136%;
    width: 50px;
    height: 50px;
}

.imgtt{
    position: relative;
    top: -33px;
    left: 138%;
    width: 50px;
    height: 50px;    
}

.footer3{
    position: relative;
    left: 33%;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}